<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatable" content="ie=edge">
    <title>Chat Server</title>
</head> 
    <body>
        <div class="container">
            <video class="video-large" autoplay></video>
            <div class="user-container" id="user-container">
                <h4>Users</h4>
                <div id="users"></div>
            </div>
        </div>

        <script src="socket.js"></script>
        <scritp type="text/javascript" src="/index.js"></scritp>
    </body>   
</html>